header {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: var(--clr-white);
  box-shadow: var(--bs-primary);
  border-bottom: 2px solid var(--clr-light-grey);
}

.upper-header {
  background-color: var(--clr-red);
  padding: 10px 0;
  justify-content: flex-end;
  gap: 50px;
  display: flex;
}

.upper-header img {
  height: 15px;
  width: 15px;
  object-fit: contain;
}

.upper-header a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: var(--fs-accent);
  font-weight: 500;
  color: var(--clr-white);
  text-transform: uppercase;
}

#menu-header {
  display: flex;
  padding: unset;
  gap: 50px;
}

#menu-header li {
  font-size: var(--fs-body);
  font-weight: 500;
  color: var(--clr-black);
  text-transform: uppercase;
}

.menu-header-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.website-infos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.website-logo {
  max-height: 50px;
}

.website-title {
  font-size: var(--fs-title);
  font-weight: 700;
  color: var(--clr-black);
  text-transform: uppercase;
}

.website-baseline {
  font-size: var(--fs-accent);
  font-weight: 500;
  color: var(--clr-red);
  text-transform: uppercase;
}

.right-website-infos {
  display: flex;
  flex-direction: column;
  gap: 5px;
}