section  {
  padding-top: 150px;
  padding-bottom: 150px;
}

.banner {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: var(--clr-black);
  color: var(--clr-white);
  padding-bottom: 300px;
  position: relative;
  z-index: -1;
}


.banner-image {
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  filter: saturate(0.5);
}

.banner::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr-black);
  opacity: .5;
}

.banner .wrapper {
  z-index: 1;
}

.banner.banner-wide {
  padding-top: 200px;
  background-position: bottom;
}

.banner.banner-single {
  padding-top: 300px;
}

.banner-single h1 {
  font-size: var(--fs-big-title);
}

.image-decoration-section .page
{
  display: flex;
  gap: 150px;
}

.image-decoration-section.image-decoration-left .page {
  flex-direction: row-reverse;
}

.image-decoration-section+.image-decoration-section {
  padding-top: unset;
}

.image-decoration-section .left-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
}

.image-decoration-section .right-section {
  /*max-width: 600px;*/
}


.image-decoration-section .left-section p:first-of-type {
  font-weight: 500;
}

.image-decoration-section .left-section h2 {
  font-size: var(--fs-big-title);
  color: var(--clr-red);
  margin-bottom: 30px;
}
.image-decoration-section .left-section a {
margin-top: 30px;
}

.image-decoration {
  position: relative;
}

.image-decoration::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 30px;
  width: 100%;
  height: 100%;
  background-color: var(--clr-red);
}

.image-decoration-section.image-decoration-left .image-decoration::before {
  left: unset;
  right: 30px;
}

.image-decoration img {
  position: relative;
  /*width: 100%;*/
  height: 600px;
  max-width: 600px;
  object-fit: cover;
}

.numbers-section {
  padding-top: unset;
}

.numbers-section .box {
  padding: 80px;
  background-color: var(--clr-black);
  gap: 80px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  background-image: url("../images/background/centre-auto-87-logo-background-white.png");
  background-position: left -50px bottom -50px;
  background-size: 800px;
  background-repeat: no-repeat;
}

.numbers-section .number-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.numbers-section .number-details img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 20px;
}

.numbers-section .number-details h3 {
  color: var(--clr-white);
  font-size: var(--fs-big-title);
}

.numbers-section .number-details p {
  color: var(--clr-light-grey);
  font-family: var(--ff-primary);
  text-transform: uppercase;
}


.brands-section {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.brands-section .brands {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.brands-section .brands .brand {
  max-height: 60px;
  max-width: 100px;
  object-fit: contain;
  filter: saturate(0);
  opacity: .5;
  transition: .5s;
}

.brands-section .brands .brand:hover {
  opacity: 1;
  filter: saturate(1);
}

.testimonials-section {
  background-color: var(--clr-very-light-grey);
  display: flex;
  flex-direction: column;
  /*padding: 80px;*/
  gap: 80px;
  align-items: center;
  background-image: url("../images/background/guillemets-top-picto.png"), url("../images/background/guillemets-bottom-picto.png");
  background-position: top 100px left 20%, bottom 100px right 20%;
  background-repeat: no-repeat, no-repeat;
  background-size: 500px, 500px;
}

.action-section {
  display: flex;
  /*flex-direction: column;*/
  gap: 150px;
  position: relative;
  z-index: 1;
  background-image: url("../images/photo/carpark-4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-between;
  /*justify-content: flex-end;*/
}

.action-section::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr-black);
  opacity: .5;
}

.action-section .left-area {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 550px;
}

.action-section .right-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  /*width: 600px;*/
  /*width: 100%;*/
}

.action-section h2, .action-section p {
  color: var(--clr-white);
}

.action-section .button-primary {
  display: inline-block;
}

.about-section {

}

/*.road-separator {*/
/*  overflow-x: hidden;*/
/*}*/

/*.road-wrapper {*/
.road-separator {
  height: 50px;
  min-height: 75px;
  background-image: url("../images/background/road.svg");
  background-position: bottom;
  background-repeat: repeat-x;
  position: relative;
  overflow-x: hidden;
}

.car-picto {
  width: 180px;
  object-fit: contain;
  position: absolute;
  left: 60%;
  bottom: 10px;
  transform: translateX(-100vw);
  transition: 4s;
}

.car-picto.right {
  transform: translateX(100vw);
  right: 60%;
  left: unset;
}

.car-picto.show {
  transform: translateX(0);
}
