:root {
  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-very-dark-blue: #000734;
  --clr-dark-green: #0c4711;
  --clr-green: #aec90b;
  --clr-dark-yellow: #8a5d00;
  --clr-yellow: #d28d00;
  --clr-dark-red: #740511;
  --clr-red: #c90b27;
  --clr-transparent: #00000000;
  --clr-light-grey: hsl(0, 0%, 80%);
  --clr-very-light-grey: hsl(0, 0%, 95%);
  --clr-grey: hsl(0, 0%, 50%);
  --fs-very-big-title: 80px;
  --fs-big-title: 50px;
  --fs-title: 24px;
  --fs-small-title: 18px;
  --fs-body: 16px;
  --fs-accent: 12px;
  --ff-primary: "Gabarito", Arial, sans-serif;
  --ff-secondary: Roboto, sans-serif;
  --bs-primary: 0 10px 20px 0 rgba(0,0,0,.1);
  --bs-secondary: 0 0 32px 8px rgba(0,0,0,.2);
}
