:root {
  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-very-dark-grey: #151515;
  --clr-dark-grey: #2b2b2b;
  --clr-very-dark-blue: #000734;
  --clr-dark-green: #0c4711;
  --clr-green: #aec90b;
  --clr-dark-yellow: #6a4a00;
  --clr-yellow: #d28d00;
  --clr-light-yellow: #ffc147;
  --clr-dark-red: #740511;
  --clr-very-dark-red: #340407;
  --clr-red: #c90b27;
  --clr-very-light-red: #ffc4c8;
  --clr-transparent: #00000000;
  --clr-light-grey: hsl(0, 0%, 80%);
  --clr-very-light-grey: hsl(0, 0%, 95%);
  --clr-grey: hsl(0, 0%, 50%);
  --fs-very-big-title: 80px;
  --fs-big-title: 40px;
  --fs-title: 24px;
  --fs-small-title: 18px;
  --fs-body: 16px;
  --fs-accent: 12px;
  --ff-primary: "Gabarito", Arial, sans-serif;
  --ff-secondary: Roboto, sans-serif;
  --bs-primary: 0 5px 10px 0 rgba(0,0,0,.05);
  --bs-secondary: 0 10px 30px 0 rgba(0,0,0,.05);
}
